.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
/_site/
/renv/

/staging/

/_freeze/
/_targets/

about/*.pdf
about/*.html
assignment/*.html
example/*.html
schedule/*.html
syllabus/*.html
data/dfstrat.csv
slides/*.pdf
slides/*.html
slides/fonts/*
slides/**/*_cache/*
slides/libs/*
projects/*.zip
seas
avhrr

# knitr and caching
**/*_files/*
**/*_cache/*

README.html

/.luarc.json

**/*.quarto_ipynb
