project:
  type: website
  resources:
    - "files/"
    - "projects/"
    - "pdf_slides/"
  preview:
    port: 27514
  render:
    - "*.qmd"
    - "!staging/"
    - "!projects/"
    - "!pdf_slides/"

filters:
  - line-highlight
  - include-code-files

## Freeze seems to interact badly with the schedule.qmd / schedule.csv relation
execute:
  freeze: auto # Re-render only when source changes

bibliography: files/bib/mptc_references.bib
link-citations: false
csl: files/bib/chicago-syllabus-no-bib.csl
description-meta: "A seminar about the tools you'll use every day but no-one teaches."

website:
  title: "Modern Plain Text Computing"
  site-url: "https://mptc.io"
  repo-url: "https://github.com/kjhealy/mptc"
  navbar:
    pinned: true
    right:
      - text: "Schedule"
        file: schedule/index.qmd
      - text: "Content"
        file: content/index.qmd
      - text: "Examples"
        file: example/index.qmd
      - text: "Assignments"
        file: assignment/index.qmd
  sidebar:
    - title: "Content"
      style: "docked"
      search: false
      background: dark
      contents:
        - section: "Overview"
          contents:
            - content/index.qmd
        - section: "Topics"
          contents:
            - text: "01: Doing Your Work Properly"
              file: content/01-content-doing-your-work.qmd
            - text: "02: Labor Day"
              file: "content/02-content-labor-day.qmd"
            - text: "03: The File System and the Shell"
              file: "content/03-content-shell.qmd"
            - text: "04: Using R to look at data"
              file: "content/04-content-r.qmd"
            - text: "05: Tidy Data and dplyr"
              file: "content/05-content-dplyr.qmd"
            - text: "06: More on dplyr"
              file: "content/06-content-dplyr-and-more.qmd"
            - text: "07: Getting Data in and out of R"
              file: "content/07-content-ingesting-data.qmd"
            - text: "08: Version Control and Git"
              file: "content/08-content-git.qmd"
            - text: "09: Iterating on Data and Models"
              file: "content/09-content-iteration.qmd"
            - text: "10: Databases and APIs"
              file: "content/10-content-databases.qmd"
            - text: "11: Parallel Computing"
              file: "content/11-content-parallel.qmd"
            - text: "12: Helpers, Build Systems, Environments"
              file: "content/12-content-build.qmd"
            - text: "13: Packages, and LLMs"
              file: "content/13-content-packages.qmd"

    - title: "Assignments"
      contents:
        - section: "Overview"
          contents:
            - assignment/index.qmd
        - section: "Weekly Work"
          contents:
            - text: "00: Software Setup"
              file: assignment/00-assignment-install-r-github.qmd
            - text: "01: Quarto Notes"
              file: assignment/01-assignment-quarto-notes.qmd
            - text: "02: Find Some Data"
              file: assignment/02-assignment-find-some-data.qmd
            - text: "03: The Shell"
              file: assignment/03-assignment-shell.qmd
            - text: "03b: Shell Exercise"
              file: assignment/03-assignment-shell-2.qmd
            - text: "05: dplyr"
              file: assignment/05-assignment-dplyr.qmd
            - text: "07: FARS data exercise"
              file: assignment/07-assignment-fars.qmd
            - text: "09: Iterating on the GSS"
              file: assignment/09-assignment-iteration.qmd
            - text: "10: Databases and APIs"
              file: assignment/10-assignment-databases.qmd
            - text: "12: The Whole Enchilada"
              file: assignment/12-assignment-enchilada.qmd


    - title: "Examples"
      contents:
        - section: "Overview"
          contents:
            - example/index.qmd
        - section: "How-To"
          contents:
            - text: "01: A Tiny Project"
              file: example/01-example-oecd.qmd
            - text: "03: The Shell"
              file: example/03-example-shell.qmd
            - text: "04: Graphing with ggplot"
              file: example/04-example-ggplot.qmd
            - text: "05: Tables and dplyr"
              file: example/05-example-dplyr.qmd
            - text: "06: More dplyr"
              file: example/06-example-dplyr-and-more.qmd
            - text: "08: Git and GitHub"
              file: example/08-example-git.qmd
            - text: "09: Iteration"
              file: example/09-example-iteration.qmd
            - text: "10: Databases and APIs"
              file: example/10-example-databases.qmd


  page-footer:
    left: |
      Content {{< fa copyright >}} {{< var course.copyright_year >}} by [{{< var instructor.name_no_title >}}]({{< var instructor.url >}}) <br>
      See the [About page](/about/) page for credit information.
    right: |
      Made with {{< fa brands r-project >}} and [Quarto](https://quarto.org/)<br>
      [View the source at {{< fa brands github >}} GitHub]({{< var course.github >}})

format:
  html:
    embed-resources: false
    code-fold: false
    theme: html/custom.scss
    highlight-style: html/catppuccin-macchiato.theme
    toc: true
    css: html/tenso-berkeley.css
